.navigation {
  height: 100dvh;
}

.sider {
  display: flex;
  flex-flow: column nowrap;
}

.content {
  background: var(--color-11);
  padding: 0 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
