.createButton {
<<<<<<< HEAD:apps/root-admin/src/components/festival/drawer-button/drawer-button.module.css
  width: 9.375rem;
  text-indent: 1.25rem;
=======
  background: red;
  width: 10rem;
  text-indent: 1rem;
>>>>>>> feature(root-admin)/199-detail-university-festivals:apps/root-admin/src/components/ui/button/drawer-button/drawer-button.module.css
  position: relative;
}

.createButton::before {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9999px;
  background: #ffffff url('/icons/plus.svg') no-repeat center / 50% 50%;
}
