.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonSection {
  display: flex;
  position: relative;
  gap: 16px;
}

.errorMessage {
  position: absolute;
  color: red;
  font-size: 12px;
  bottom: -20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.listItem {
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
