.heading {
  margin: 2rem 0;
  font-size: 24px;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
